ICECAST_HOST=localhost
ICECAST_PORT=8000
ICECAST_USER=source
ICECAST_PASS=hackme
ICECAST_MOUNT=hexo

# production || staging || development
NODE_ENV=production
DEBUG=false

# For use with Let's Encrypt (acme)
SSL_EMAIL=admin@example.com
# Split with ,
SSL_DOMAINS=example.com
# staging or https://acme-v01.api.letsencrypt.org/directory
SSL_SERVER=staging

