[Unit]
Description=Icecast2

[Service]
ExecStart=/bin/bash -c "(cd $HOME/hexo/icecast && /usr/bin/icecast2 -c icecast2.xml)"
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
