[Unit]
Description=Hexo
After=icecast2.service
Requires=icecast2.service
PartOf=icecast2.service

[Service]
ExecStart=/bin/bash -c "sleep 1; cd $HOME/hexo/server && /usr/local/bin/node src/index.js"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
