[Unit]
Description=Ices2
After=icecast2.service
Requires=icecast2.service
PartOf=icecast2.service

[Service]
ExecStart=/bin/bash -c "sleep 1; (cd $HOME/hexo/icecast/ices2 && /usr/bin/ices2 ices-playlist.xml)"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
